node_modules/

software-project-management-client/node_modules/
software-project-management-client/.env
software-project-management-client/.vscode

software-project-management-server/node_modules/
software-project-management-server/.env
software-project-management-server/.vscode